<div class="main">
  <div class="container">
    <h1>Hello my name is Basti</h1>
    <p>I make Rails apps.</p>
    
    <p>Go to application page click <%= link_to 'here', application_path %>.</p>
  </div>
</div>
